<br><h3> • Current Chat Rooms - {{nickname}}</h3><br>
{{!-- Rooms joined or owned by the current user  --}}




<br><h3> • Chat Rooms List - {{nickname}}</h3><br>
{{!-- Every Rooms from DB except whoses which are owned by current user  --}}





<br><a href="#room/new">New Chat Room</a><br>
