<br><p>Logged in as {{user.nickname}}</p><br>
{{!-- Rooms joined or owned by the current user  --}}

<a class="btn btn-primary" href="#room/new" role="button">Create a new room</a>
<br><br>

<br><h3> • Open or Join chat rooms </h3><br>
{{!-- Every Rooms from DB except whoses which are owned by current user  --}}
<div>

    <ul class="list-group">
    {{!-- https://stackoverflow.com/questions/27719071/nested-if-inside-each-handlebars-template-in-express-app --}}
        {{#each rooms}}
            {{!-- {{#when owner_id "eq" ../user.id}} --}}
            <li class="list-group-item"> {{name}} ({{privacy}}) :

                {{!-- If joined or opened --}}
                <a style="font-size: 14px;" href="#rooms/{{id}}">Join</a>

            </li>
            <br>
            {{!-- {{/when}} --}}
        {{/each}}
        <br>

    </ul>
</div>

