
<div class="fifties blk-text text-center">
    <br>
    <h1>RULES</h1>
    <br><br>
    <h2>User</h2>
    <div class="h5">
    <p>Users must login using the oauth system of 42 intranet</p>
    <p>Users must choose a unique name and email adress</p>
    <p>Users can edit their informations in profile</p>
    <p>Users must have an avatar (one will be set by default)</p>
    <p>Users can see informations (Elo, match history ...) about themself and other users in social/profiles</p>
    </div>
    <br><br>
    <h2>Game</h2>
    <div class="h5">
    <p>Users can play pong with other player on normal or ranked mode</p>
    <p>First player who reach 11 points win</p>
    <p>Users can send duel request through chat or direct messages</p>
    <p>Users can use z and s to go up or down with their paddle</p>
    <p>Users can also use button to move (if the user is on phone)</p>
    <p>If an user live the game page, it is consider has a give up</p>
    <p>living page is either one of :</p>
    <p>     - Returning to home page</p>
    <p>     - going on another tab on the same internet page</p>
    <p>     - minimizing the window which is currently playing the game</p>
    <p> if you have other question, please refer to : </p>
    <a href="https://en.wikipedia.org/wiki/Pong" target="_blank">https://en.wikipedia.org/wiki/Pong</a>
    </div>
    <br><br>
    <h2>Guilds</h2>
    <div class="h5">
    <p>Users can create guilds and invite other players in in</p>
    <p>A guild must have a name and an anagram (5 characters max)</p>
    <p>Users can be in 1 guild at a time</p>
    <p>Each time a member of the guild wins a game, some points are added to the guild’s points</p>
    </div>
    <br><br>
    <h2>Guild wars</h2>
    <div class="h5">
    <p>A guild can declare war to an other guild</p>
    <p>A guild can be in one war only at a time</p>
    <p>Guilds define a start and end date of a war</p>
    <p>Guilds define a number of points as prize for the war</p>
    <p>During war time a guild member can ask to fight randomly anyone from the other guild</p>
    <p>If no member of the opposite guild answer the call, then the match is automatically won</p>
    <p>Guilds can define a maximum of unanswered match calls per war time</p>
    <p>Guilds must define a number of points as prize for the war</p>
    <p>Both guild must agree on all terms of the war and the type of match that willcount in the war</p>
    <p>At the end of the war the guild with the highest number of war points will receive the prize from the other guild</p>
    </div>
    <br><br>
    <h2>Tournaments</h2>
    <div class="h5">
    <p>An admin can create tournaments</p>
    <p>Users can register before closing date</p>
    <p>Users can only register to one tournament at a time</p>
    <p>The tournament start few seconds after closing date</p>
    <p>On each stage of a tournament, a user play against another user</p>
    <p>The user who wins is qualified for the next stage</p>
    <p>On a stage (except final) if no user is found to play against, the user is automatically qualified for the next stage</p>
    <p>A user win the tournament when he/she win the final</p>
    </div>
    <br><br>
    <h2>Rooms</h2>
    <div class="h5">
    <p>Users can create public and private rooms</p>
    <p>A password is needed for a private rooms</p>
    <p>Users can join public and private rooms</p>
    <p>A room owner can edit it</p>
    <p>A room owner can promote and demote admins</p>
    <p>A room owner or admin can mute/unmute users</p>
    <p>A room owner or admin can ban/unban users</p>
    <p>A room owner or admin can kick/unkick users</p>
    <p>Users can mute/unmute other users (their messages will not be displayed)</p>
    </div>
    <br><br>
    <h2>Private messages</h2>
    <div class="h5">
    <p>Users can communicate between each other through private messages</p>
    <p>Users can mute/unmute other users (their messages will not be displayed)</p>
    </div>
    <br><br>
</div>