<h1>RULES</h1>
<br>
<h2>User</h2>
<h3>You must login using the oauth system of 42 intranet</h3>
<h3>First player who reach 11 points win</h3>
<br>
<h2>Game</h2>
<h3>You can play pong with other player on normal or ranked mode</h3>
<h3>First player who reach 11 points win</h3>
<br>
<h2>Guilds</h2>
<h3>You can create guilds and invite other players in in</h3>
<h3>You can be in 1 guild at a time</h3>
<h3>You can declare war to an other guild</h3>