<h2>Log in</h2>

<form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="EjODO88t40nRLDD5esEZ25L+u/Ix6qgJhQuHpO1v9C1mPri6la9WL5/d/SI0lhuLMOI8UyKmTRPKKyFasTPqbw==">
	<div class="field">
		<label for="user_email">Email</label><br>
		<input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email">
	</div>
	<div class="field">
		<label for="user_password">Password</label><br>
		<input autocomplete="current-password" type="password" name="user[password]" id="user_password">
	</div>

	<br>

	<div class="field">
		<label style="font-size: 15px;" for="user_otp">One time password (ignore this field if 2fa is not enabled in your account)</label><br>
		<input autocomplete="none" placeholder="ex: 112442" type="text" name="user[otp_attempt]" id="user_otp">
	</div>

	<br>

	<!--
	<div class="field">
		<input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
		<label for="user_remember_me">Remember me</label>
	</div>
	-->

	<div class="actions">
		<input type="submit" name="commit" value="Log in">
	</div>
</form>
<br>
<a href="/users/auth/marvin" style="font-size: 20px;">Sign in with 42</a><br>
