<div class="margin25Div">


<p style="margin-left: 40px; font-size: 24px;">LOG IN</p>

<form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
	<input type="hidden" name="authenticity_token" value="EjODO88t40nRLDD5esEZ25L+u/Ix6qgJhQuHpO1v9C1mPri6la9WL5/d/SI0lhuLMOI8UyKmTRPKKyFasTPqbw==">
	<div class="field">
		<input class="form-control-sm" placeholder="Email" autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email">
	</div>
	<br>
	<div class="field">
		<input class="form-control-sm" placeholder="Password" autocomplete="current-password" type="password" name="user[password]" id="user_password">
	</div>

	<br>

	<div class="field">
		<br>
		<u>
			<label style="font-size: 15px;" for="user_otp">
				One time password <br> (Ignore this field if 2FA is not enabled in your account)</label><br>
		</u>
		<input class="form-control-sm" autocomplete="none" placeholder="Ex : 112442" type="text" name="user[otp_attempt]" id="user_otp">
	</div>

	<br><br>

	<!--
	<div class="field">
		<input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
		<label for="user_remember_me">Remember me</label>
	</div>
	-->

	<div class="actions">
		<input class="btn btn-success" type="submit" name="commit" value="Log in">
	</div>
</form>
<br>
<a  class="btn btn-primary" href="/users/auth/marvin" style="font-size: 20px;">Sign in with 42</a><br>

</div>
