<h1 id="notifsTitle" class="user-name fifties blk-text text-maxwidth-lg">Notifications</h1>

<div class="notifsContainer">
{{#each notifs}}

	<div class="notif">
		<p class="content">
			{{content}}
			
			<a class="link" href="{{link}}">link</a>
		</p>
	</div>

	<hr>

{{/each}}
</div>