<p id="notifsTitle" class="fifties blk-text sized-text-lg text-center"> <u> <strong> Notifications </strong></u> </p>

<div class="notifsContainer list-group">
{{#each notifs}}
	<div class="notif list-group-item atari-back">
		<p class="atari">{{content}}</p>
		<a class="link atari" href="{{link}}" style="color: rgb(39, 101, 236);">Go</a>
	</div>
	<hr>
{{/each}}
</div>