<h1>Game</h1>

<canvas style="background-color: antiquewhite;" width="300" height="300" id="{{canvasID}}">
	Your web browser is probably almost older than me, time to update ?
</canvas>

<br>
<a href="#">Home</a>
