<div id="in_game_id" data-id="{{ room_id }}"></div>

<div class="fifties blk-text text-center" id="UID"></div>

<div class="game-canvas">
    <canvas id="myCanvas" width="800" height="600"></canvas>
</div>

<div class="horitontal-warning">
    <p>Please turn your phone horizontaly or enlarge the window</p>
</div>