<div id="in_game_id" data-id="{{ room_id }}"></div>

<div class="fifties blk-text text-center" id="UID"></div>

<div class="game-canvas">
    <canvas id="myCanvas" width="800" height="600"></canvas>
    
    <div class="btn-group special fifties" style="margin-top: 2vh;">
        <button id="up_button" class="btn btn-secondary sized-text">Up</button>
        <button id="down_button" class="btn btn-secondary sized-text">Down</button>
    </div>
</div>


<div class="horitontal-warning">
    <p>Please turn your phone horizontaly or enlarge the window</p>
</div>