
<div class="atari atari-back text-center brand" >
	<p> {{guild.name}} is going to war!</p>
</div>

<p style="font-size: 20px;" class="fifties text-center blk-text sized-text"> <strong> Select enemy guild (this will create a War) </strong> </p>

<input style="text-align: center;" class="form-control sized-text inp" autocomplete="off" type="text" name="" id="searchGuild"><br>
<div id="userInputGuilds">

</div>

<br>

<form style="display: none;" id="createWarForm" method="POST">
	<input type="hidden" name="authenticity_token" value="{{token}}">
	<input type="text" name="id" id="guildIDField">
</form>
