<h4 id="cancelActiveWar" class="pointer">Cancel war</h4>
<h4 id="validateActiveWar" class="pointer">Validate war</h4>

<form style="display: none;" id="deleteWarForm" method="POST">
	<input type="hidden" name="authenticity_token" value="{{token}}">
</form>

<form style="display: none;" id="validateWarForm" method="POST">
	<input type="hidden" name="authenticity_token" value="{{token}}">
</form>
