<h4 id="cancelActiveWar" class="pointer">Cancel active war</h4>

<form style="display: none;" id="deleteWarForm" method="POST">
	<input type="hidden" name="authenticity_token" value="{{token}}">
</form>
