<h1>List of guilds</h1>
<br>
{{#each guilds}}
    <div>
		<h2>{{name}}, {{points}} points</h2>
		<a style="font-size: 14px;" href="#guilds/{{id}}">profile page</a>
		<br>
	</div>
{{/each}}
<br>
<br>
<a href="#guilds/mine">My guild</a>
<br>
<a href="#">Home</a>
