<div class="margin25Div">


	<br>
	<p style="font-size: 20px;"> <u> <strong> List of guilds </strong></u>  &nbsp; ⚛ </p>

	<br>
	{{#each guilds}}
	<div>
		<h2> {{name}} </h2>
		<p>{{points}} points</p>
		<a style="font-size: 14px;" class="btn btn-primary" href="#guilds/{{id}}">Profile Page</a>

	</div>
	{{/each}}

	<br>
	<hr>
	<br>
	<a class="btn btn-success" href="#guilds/mine">My Guild</a>
	<br><br>
	<a class="btn btn-info" href="#">Home</a>


</div>