
@import "bootstrap/scss/bootstrap";
@import "./rooms";
@import "./home";


.horitontal-warning {
	visibility: hidden;
}

* {
	padding: 0;
	margin: 0;
}

canvas {
	background: #000000;
	display: block;
	margin: 0 auto;
	height: 60vh;
	width: 80vh;
}

.game-canvas {
	padding-top: 5vh;
}

@media screen and (orientation:portrait) {
	.horitontal-warning {
		text-align: center;
		visibility: visible;
	}

	canvas {
		visibility: hidden;
		height: 0vh;
		width: 0vh;
	}

	.game-canvas {
		visibility: hidden;
		height: 0vh;
		width: 0vh;
	}
	
}

.acceptRequestGuild {
	cursor: pointer;
}

.nodisplay {
	display: none;
}

.pointer {
	cursor: pointer;
}

.allProfilesList {
	margin: 25px;
}


.margin25Div {
	margin: 25px;
}

#edit_user {
	input {
		padding-bottom: 10px;
		margin: auto;
	}
}

.duelForm {
	margin-left: 10vh;
	display: inline;
}

.mycontainer {
	width: 95%;
	height: 90%;
	margin-top: 3%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;

	.chatboxHeader {
		display: flex;

		.otherUserProfile {
			color: rgb(24, 119, 242);
			text-decoration: none;
		}
	}

	.avatar {
		border: 1px solid rgb(153, 153, 153);
	}

	.list-group {
		height: 65vh;
		margin-left: 2%;
		overflow-y: scroll;
		scrollbar-color: light;
		scrollbar-width: none;
		display: flex;

		.list-group-item {
			display: inline-block;
			border-style: none;
			background-color: rgb(255, 255, 255);

			.userName {
				min-width: 60px;
				display: inline-block;
			}
	
			.message {
				display: inline-block;
				vertical-align: middle;
				padding: 10px;
				border-radius: 15px;
				margin-top: 15px;
				margin-right: 1vh;
				max-width: 55%;
			}

			.otherMessage {
				text-align: left;
	
				.message {
					background-color: rgb(247, 247, 247);
				}
			}
		}
	}
}

.myroomcontainer {
	width: 95%;
	height: 90%;
	margin-top: 3%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;

	.avatar {
		border: 1px solid rgb(153, 153, 153);
	}

	.list-group {
		height: 60vh;
		overflow-y: scroll;
		scrollbar-color: light;
		scrollbar-width: none;

		.list-group-item {

			.ownMessage {
				vertical-align: middle;
				text-align: right;
			}
		}
	}
}

.chip {
	display: inline-block;
	padding: 5px;
	font-size: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 25px;
	background-color: #d3cccc;
}

.font20 {
	font-size: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.atari {
  font-family: 'press start 2p';
  color: rgba(white, .9);
  text-shadow: 0 .1em 0 #000;
}

.navbar-brand {
	font-size: 20px !important;
	color: lightgrey !important;
}

.brand {
	font-size: 40px !important;
}

.navbar {
	min-height:20px !important;
	padding-top:5px !important; 
	padding-bottom:5px!important;
	font-size: 20px !important;
}

.navbar-toggler-icon {
	width: 2vw !important;
	height: 4vh !important;
}

.dropdown-item {
	color: lightgrey !important;
	font-size: 20px !important;
}
	
.dropdown-menu > a:hover {
	background-color: rgb(32, 32, 32);
}

@keyframes color_anim {
	from {
		background-color: rgb(30, 130, 230);
	}
	to {
		background-color: rgb(230, 30, 47);
	}
}

@keyframes shadow_anim {
	from {
		text-shadow: 0 4px 0 darken(rgb(230, 30, 47), 9);
	}
	to {
		text-shadow: 0 4px 0 darken(rgb(30, 130, 230), 9);
	}
}

.page-title {
	height: 92vh;
	color: black !important;
	padding-top: 20vh;
	font-size: 60px;
	text-align: center;
	animation: color_anim 10s alternate infinite;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.big-profile-picture {
	width: 250px;
	height: 180px;
}

.dropdown-toggle {
	max-width: 70vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sized-text {
	font-size: 40px !important;
}

.sized-text-sm {
	font-size: 20px !important;
}

.sized-text-md {
	font-size: 35px !important;
}

.sized-text-lg {
	font-size: 50px !important;
}

.text-maxwidth-lg {
	max-width: 80vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-maxwidth {
	max-width: 40vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-maxwidth-md {
	max-width: 20vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-maxwidth-sm {
	max-width: 5vw;
	display: inline;
	overflow: hidden;
	text-overflow: ellipsis;
}

.big-title {
	font-size: 50px;
}


@media (max-width: 900px) {
	.text-maxwidth-sm {
		display: none;
	}
}

// * screen > 950
@media (min-width: 950px) {
	.navbar-expand-custom {
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	  flex-direction: row;
	}
	.navbar-expand-custom .navbar-nav .nav-link {
	  padding-right: .5rem;
	  padding-left: .5rem;
	}
	.navbar-expand-custom .navbar-collapse {
	  display: flex!important;
	}
	.navbar-expand-custom .navbar-toggler {
	  display: none;
	}
	.navbar-expand-custom .navbar-nav .dropdown-menu {
	  position:absolute;
	}
	.dropdown-toggle {
		max-width: 22vw;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.avatar2 {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.avatar {
	margin-bottom: 80px;
	width: 80px;
	height: 80px;
}

.avatar-btn {
	height: 100px !important;
}

@media screen and (max-height: 600px), (orientation:portrait) {


	.avatar-btn {
		height: 50px !important;
	}
	.avatar {
		margin-bottom: 35px;
		width: 35px;
		height: 35px;
	}
	
	.navbar-brand {
		font-size: 10px !important;
	}

	.brand {
		font-size: 20px !important;
	}
	
	.navbar {
		padding-top:0.25vh !important; 
		padding-bottom:0.25vh !important;
		font-size: 10px !important;
	}
	
	.navbar-toggler-icon {
		width: 1.5vw !important;
		height: 3vh !important;
	}
	
	.dropdown-item {
		font-size: 10px !important;
	}

	.page-title {
		font-size: 40px;
	}

	.dropdown-toggle {
		max-width: 70vw;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.sized-text {
		font-size: 20px !important;
	}

	.sized-text-sm {
		font-size: 10px !important;
	}

	.sized-text-md {
		font-size: 17.5px !important;
	}

	.sized-text-lg {
		font-size: 25px !important;
	}

	.big-title {
		font-size: 20px;
	}

	@media (min-width: 520px) {
		.navbar-expand-custom {
		  flex-direction: row;
		  flex-wrap: nowrap;
		  justify-content: flex-start;
		}
		.navbar-expand-custom .navbar-nav {
		  flex-direction: row;
		}
		.navbar-expand-custom .navbar-nav .nav-link {
		  padding-right: .5rem;
		  padding-left: .5rem;
		}
		.navbar-expand-custom .navbar-collapse {
		  display: flex!important;
		}
		.navbar-expand-custom .navbar-toggler {
		  display: none;
		}
		.navbar-expand-custom .navbar-nav .dropdown-menu {
		  position:absolute;
		}

		.dropdown-toggle {
			max-width: 22vw;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700italic);

.fifties {
  font-family: lobster two;
  color: lightgray;
}

.fifties2 {
	font-family: lobster two;
	color: rgb(143, 143, 143);
}

.shdw-anim {
	animation: shadow_anim 10s alternate infinite;
}

@font-face {
	font-family: 'Air Americana';    
	src: url('/fonts/Air Americana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.profile-description {
	margin: 0 auto;
	text-align: center;
}

.user-name {
	margin: 25px 0 16px;
	text-align: center;
}

.clear {
	clear: both;
}

.profile-align {
	text-align: center;
}

.btn-group.special {
	display: flex;
}

.special .btn {
	flex: 1
}

.profile-page {
	padding-top: 5vh;
}

.blk-text {
	color: black;
}

.btn-rel {
	font-size: 3vh;
}

.back-base {
	background-color: rgb(227, 227, 231);
}

.list-group {
	text-align: center !important;
}

.text-center {
	text-align: center !important;
}

.atari-back {
	background: rgb(0, 0, 0);
	margin: 10px 0px 0px 0px;
	padding: 10px 20px 0px 20px;
}

.inp {
	width: 80% !important;
	margin-left: 10% !important;
}

.inp2 {
	width: 49% !important;
}

.inp3 {
	width: 60% !important;
}


label + .check {
    margin-left: 5%;
}

#list-message-out {
	height: 45vh;
    width: 100%;
    overflow: hidden;
}

#list-message-in {
	height: 45vh;
    width: 100%;
    overflow: auto;
}

#list-user-out {
	height: 80vh;
    overflow: hidden;
}

.list-user {
	height: 50vh;
    overflow: auto;
}

#list-user-in {
	height: 80vh;
    overflow: auto;
}

.dont-break-out {

	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
  
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
  
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
  
}

.list-group-item {
	border-radius: 20px !important;
}

.btn-block {
	width: 60% !important;
	margin-left: 20%!important;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.font14 {
	font-size: 14px;
}

input[type="text"],
input[type="file"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  width: 80%;
}

input[type="text"]:focus,
input[type="file"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.admin-page-list {
	min-width: 58vw;
	margin: auto;
}

.g_status {
	margin: auto;
	margin-right: 10px;
}

.qr-container {
	display: flex;
	flex-direction: column;

	p, .qrcode {
		margin: auto;
	}
}
