// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#homePageDivCentered {
    top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}