// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#homePageContainer {
  height: 92vh;
  margin: auto;
  color: white;
  .welcome-text {
    padding-top: 5vh;
    font-size: 4vh !important;
    text-align: center;
  }
}

.bg { 
  background-image: url("/images/old_tv_home.png");

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}