<form class="edit_user" id="edit_user" action="/users" 
	accept-charset="UTF-8" method="post"><input type="hidden" 
	name="_method" value="put">

  <div class="field">
    <label for="user_email">Email</label><br>
    <input autocomplete="email" type="email" value="mle-moni@student.42.fr" name="user[email]" id="user_email">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Update" data-disable-with="Update">
  </div>
</form>

<a href="javascript:history.back()">Back</a>