<div class="profile-page container">
	<div class="profile-align">
		<img src="{{image}}" style="max-height: 200px;" class="big-profile-picture clear">
	</div>
	<h1 class="user-name fifties blk-text text-maxwidth-lg">{{nickname}}</h1>
	<div class="profile-description fifties blk-text">
		<p>{{email}}</p>
	</div>
	<br>
	<div class="btn-group special" role="group" aria-label="Basic example">
		<a class="btn fifties btn-rel" href="#profile/edit">Edit</a>
		<a class="btn fifties btn-rel" href="#guilds/mine">My guild</a>
		<a class="btn fifties btn-rel" href="#">Home</a>
		<a class="btn btn-danger fifties btn-rel" rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a>
	</div>
</div>
