<div class="margin25Div">


<u> 
	<h3>{{nickname}}'s private profile</h3><br>
</u>

	<p>
		Email : {{email}}
	</p>
	<br>
	<p>Profile Picture : </p>
	<img src="{{image}}" style="max-height: 200px;">
	<br>
	<br>
	<a class="btn btn-info " href="#profile/edit">Edit</a>
	<br><br>
	<a class="btn btn-success " href="#guilds/mine">My guild</a>
	<br>
	<br>
	<a class="btn btn-secondary " href="#">Home</a>

</div>