<h1>{{nickname}}'s private profile</h1>
<p>
	mail: {{email}}
</p>
<p>profile picture: </p>
<img src="{{image}}" style="max-height: 200px;">
<br>
<a href="#profile/edit">Edit</a>
<br>
<a href="#guilds/mine">My guild</a>
<br>
<a href="#">Home</a>
