<h1>Ladder rank</h1>
<br>
{{#each users}}
    <div>
		<h2 style="display: inline;">{{rank}} | {{elo}} | </h2>
		<a style="font-size: 14px;" href="#profiles/{{id}}">{{nickname}}</a>
		<br>
	</div>
{{/each}}
<br>
<br>
<a href="#profile">My profile</a>
<br>
<a href="#">Home</a>
