<h1>List of users</h1>
<br>
{{#each users}}
    <div>
		<h2 style="display: inline;">{{nickname}}</h2>
		<a style="font-size: 14px;" href="#profiles/{{id}}">profile page</a>
		<br>
	</div>
{{/each}}
<br>
<br>
<a href="#profile">My profile</a>
<br>
<a href="#">Home</a>
