<%= form_with(model: direct_chat, local: true) do |form| %>
  <% if direct_chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(direct_chat.errors.count, "error") %> prohibited this direct_chat from being saved:</h2>

      <ul>
        <% direct_chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
