<nav class="navbar navbar-dark bg-dark atari navbar-expand-custom">
  <a class="navbar-brand" href="#">Transcendence</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span id="navbarToggler" class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="mainNavbar" class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @name %>
        </div>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= @href %>">Your Profile</a>
          <% if @superAdmin %>
          <a class="dropdown-item" href="#admin">Admin</a>
          <% end %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">Sign out</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Game
        </div>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#game">Normal</a>
          <a class="dropdown-item" href="#game_ranked">Ranked</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Chat
        </div>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#room">Rooms</a>
          <a class="dropdown-item" href="#messages">Private</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Social
        </div>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#profiles">Profiles</a>
          <a class="dropdown-item" href="#guilds">Guilds</a>
          <a class="dropdown-item" href="#friends">Friends</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<script>


_.each(document.getElementById("mainNavbar").getElementsByClassName("dropdown-item"), el => {
    el.onclick = () => {
      if (innerHeight < 600) {
        if (innerWidth < 520) {
          document.getElementById("navbarToggler").click();
        }
      } else {
        if (innerWidth < 950) {
          document.getElementById("navbarToggler").click();
        }
      }
    }
});

</script>